header{
    padding-inline: 2.5rem;
    background-color: aqua;
    display: flex;
    justify-content: space-between;}

header a{
    text-decoration: none;
    color: inherit;
}

.logoStore{
    padding: 0.75rem 1.5rem;
    font-size: 1.75rem;
}


.navigationLinks{
    display: flex;
    align-items: flex-end;

    list-style: none;
}

.navigationLinks>li>a{
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem 1.5rem 0.25rem;
    border-bottom: 0.25rem solid rgb(102, 102, 102);
}
.navigationLinks>li>a:hover{
    background-color: rgba(0, 0, 0, 0.048);
    border-color: rgba(175, 175, 175, 0.774);
}





/* SECCION WIDGET CARRITO */

#cartWidget{
    padding: 1rem;
    position: relative;
    isolation: isolate;
}

#cartWidget:hover{
    background-color: rgba(82, 82, 82, 0.344);
}

#cartWidget>img{
    width:2.5rem;
    height: auto;
}

#cartCounter{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    border-radius: 100%;
    background-color: red;

}