*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0px;
    padding: 0px;
}

img, picture, svg, video {
    display: block;
    width: 100%;
}


:root{
    color-scheme:light;
    font-family: system-ui;
}


body{
    min-height: 100vh;
}